/* this is comment used in css files. comment have no values in coding does not affect codes */

/* ------------------------universal styling */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------top navbar styling*/
.top-header{
    background-color:#f7ffef;
    height:auto;
    min-width:100%;
}

header{
    min-width:100vw;
    background:transparent;
}
header nav{
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding:0 100px;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.logo h1{
    font-size:34px;
}
.logo-img{
    padding-top: 10px;
    height:100px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(79, 78, 79);
    font-weight:600;
    font-size:18px;
    transition: 0.4s ease-in-out;
}
nav ul li a:hover{
    color:black;
}
.btn{
    background-color:#01b671;
    padding:10px 15px;
    border-radius:30px;
    color:black;
    transition: 0.4s ease-in-out;
    text-decoration: none; 
}
.btn:hover{
    background-color:#31a25e;
}

/---------------------------------hero-section styling/
.hero-section{
    min-width:100vw;
}
.hero-box{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding:40px 100px;
}
.left-box{
    margin-left:40px;
    padding:50px 0;
}
.started{
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size:18px;
}
.ready{
    color:rgb(175, 25, 25);
    margin-bottom:8px;
    font-weight:550;
}
.left-box h1{
    font-size:34px;
    margin-bottom:8px;
    line-height:44px;
}
span{
    color:#60d48e;
}
.left-para{
    margin-bottom:30px;
}

/* --- styling right image of the to section */
.right-img{
    width:500px;
}

/* styling features boxes and section*/
.feature{
    background-color:white;
    height:50vh;
    padding: 0 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.boxes{
    padding:20px 40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    border-radius:6px;
    transition:0.3s ease-in-out;
}
.boxes:hover{
    box-shadow:0px 5px 15px #bdbdbd;
    cursor:pointer;
}
.boxes h2{
    font-size:18px;
    color:rgb(49, 48, 48);
    margin:5px 0;
}
.boxes p{
    color:rgb(131,131,131);
}
.al-shadow{
    box-shadow:0px 5px 15px #bdbdbd;

}

/*----------------footer-----------------------*/
footer {
    background-color: black;
    color: #01b671;
    text-align: center;
    padding: 1em;
    position: auto;
    bottom: 0;
    width: 100%;
}
.footersome {
    padding:60px 40px 10px 40px;
    color:#ddd;
    font-size:20px;
  }
  .footersome a {
    margin-right:10px;
  }
  .footersome a:hover,.footersome a:active{
    color:#FFF4A3;
  }
  .footersome .textlink {
    font-size:15px;
    text-decoration:none;
  }
  .footersome .textlink:active,.footersome .textlink:hover {
    text-decoration:underline;
  }
  .footertext {
    padding-left:40px;
    color:#ddd;
    font-size:12px;
    line-height:15px;
    
  }
  .footertext a:hover,.footertext a:active{
    color:#FFF4A3;
  }
  
  @media screen and (max-width: 1200px) {
    #footerwrapper {
      background-size: 500px, auto;
    }
    .footerlinks_1 {
      padding-left:3%;
      padding-right:3%;  
    }
    .footerlinks_2 {
      padding-right:8%;  
    }
  }
  @media screen and (max-width: 992px) {
    .footerlinks_1 {
      width:100%;
      margin:auto;
      float:none;
      text-align:center;
      padding:10px 20px!important;
      font-size:20px;
    }
    .footerlinks_1:nth-child(1) {
      padding:40px 20px;
    }
    .footerlinks_2 {
      width:100%;
      float:none;
      margin:auto;
      font-size:16px;
      line-height:20px;
      padding:0;
      text-align:center;
    }
    .footerlinks_2 h5 {
      font-size:26px;
      margin-top:40px;
    }
    .footertext {
      text-align:center;  
      padding:0;
    }
    .footer-hide-special {
      display:none;
    }
    #spacemyfooter  {
      padding-bottom:400px;
    }
    .footersome {
      text-align:center;    
    }
  }
  @media screen and (max-width: 992px) {
    #footerwrapper {
      background-image:url('/images/lynx_landing.png'), url('/images/background_in_space.gif');
      background-repeat: no-repeat, repeat;
      background-position: center bottom, left top;
    }
  }